@tailwind base;
@tailwind components;
@tailwind utilities;

.default-ltr-cache-1y1tnl9 {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}